body {
    background-image: url(download.jpg);
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    ;
}

h2 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: aliceblue;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

p {
    color: white
}

#enter {
    background-color: blue;
}

#save {
    background-color: chartreuse;
    ;
}